
#columns {
    width: 100%;
    border: none;
	spacing:10px;
	padding:10px;
}
#leftcol {
    width: 51%;
    border: none;
	float: left;
}
#rightcol {
	width: 49%;
    border: none;
	float: right;
}
@media (max-width: 600px) {
/*   #leftcol { float: none; }
   #rightcol { float: none; }
   */
   #leftcol,#rightcol {
   float: left;
   margin: 0 0 10px; /* SET THIS TO WHAT LOOKS GOOD */
   width: 100%;
   }
}

/*
#masked {
	-webkit-mask-image: url(img/irregularmask.png);
	mask-image: url(img/irregularmask.png);
	mask-repeat: no-repeat;
	mask-mode: luminance;
	/* mask-size: 100%;*/
}

.masked img{
	-webkit-mask-image: url(img/irregularmask.png);
	mask-image: url(img/irregularmask.png);
	mask-repeat: no-repeat;
	mask-mode: alpha;
	/* mask-size: 100%; */
}


.masked{
	border-radius:12px;
	transition:all 0.5s ease;
	cursor:pointer;
}
.masked:hover{
	transform:scale(1.25) translateX(-12%);
	box-shadow:0 6px 18px rgba(0,100,150,0.2);
}

	

